h1{
    text-align: center;
}
.marker{

    height: 25px;
    width: 200px;
    margin:10px auto;
}
.red{
    box-shadow: 0 0 20px 0 rgb(83, 14, 14, 0.8);    
    background: linear-gradient( rgb(122,74,14), rgb(245, 62, 113), rgb(162,27,27));
}
.green{
    box-shadow: 0 0 20px 0 #3B7E20CC;
    background: linear-gradient( #55680D,#71F53E,#116C31);
}
.blue{
    box-shadow: 0 0 20px 0 hsl(223, 59%, 31%, 0.8);
    background:linear-gradient(hsl(186,76%,16%), hsl(223,90%,60%), hsl(240,56%,42%));
}
.container{
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
}
.sleeve{
    border-left: 10px double rgb(0, 0, 0, 75%);
    width: 110px;
    height: 25px;
    background-color: rgb(255, 255, 255, 0.5);
}
.cap{
    width: 60px;
    height: 25px;
}
.cap,.sleeve{
    display: inline-block;
}